body
{
    text-align:center;
    background-color:coral;
}
.countDown{
    background-color:chocolate;
    color:white;
    width:100%;
    text-align:center;
    font-size:2em;
}
.countDown > div{
    display:inline-block;
    padding:5px;
    border-radius:5px;
    background-color:forestgreen;
}
   .countDown div > span {
        padding: 10px;
        border-radius: 5px;
        background-color:darkgray;
        display:inline-block;
    }

input{
    font-size:1.5em;
    margin:25px;
    padding:10px;
}
small{
    padding-top:5px;
    font-size:0.7em;
}